<div class="container col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-2 main">
    <form class="form-signin" method="POST" action="{{ url_for('main.show_single') }}">
        <h2 class="form-signin-heading">inspect single file by id</h2>
        <fieldset>
            <label for="idFile">id file:</label>
            <input type="text" id="idFile" name="idFile" class="form-control" required autofocus>
        </fieldset>
        <fieldset>
            <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
        </fieldset>
    </form>

</div> <!-- /container -->