<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">file eXchanger</span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">file eXchanger</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('main.logout') }}">log out</a></li>
            </ul>
        </div>
    </div>
</nav>